body {
	padding: 0px; margin: 0px;
	background: #000;
	display: flex;
	min-height: 100vh;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}
canvas {
	background: #FFF;
	width: 100%; height: auto;
}
